<%= form_for @order, url: orders_create_path, html: { method: :post } do |f| %>
  <% if @order.errors.any? %>
    <div class="errors">
      <h2>Order didn't go through</h2>
      <ul>
        <% for message in @order.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ticker %>
    <%= f.text_field :ticker %>
  </div>

  <div class="field">
    <%= f.label :order_type %>
    <%= f.select :order_type, [['limit order', "limit_order"]] %>
  </div>

  <div class="field">
    <%= f.label :entry_price %>
    <%= f.text_field :entry_price %>
  </div>

  <div class="field">
    <%= f.label :take_profit %>
    <%= f.text_field :take_profit, value: 0.0 %>
  </div>

  <div class="field">
    <%= f.label :stop_loss %>
    <%= f.text_field :stop_loss, value: 0.0 %>
  </div>

  <div class="field">
    <%= f.label :shares %>
    <%= number_field(:order, :shares, step: 1) %>
  </div>

  <div class="actions"><%= f.submit %></div>
<% end %>
